*{
  background-color: var(--body_background);
  color: var(--body_color);
  scroll-behavior: smooth;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* background-Image: url('./public/backg.avif'); */
  /* background-size: cover; */
  /* background-position: center; */

}

.app{
  display: flex;
  flex-direction: column;
  
}

.no-select{
  user-select: none;
}



