*{
  background-color: var(--body_background);
  color: var(--body_color);
  scroll-behavior: smooth;
  margin: 0px;
  font-family: monospace;
  font-weight: bold;
}
.app{
  display: flex;
  flex-direction: column;
  
}

.no-select{
  user-select: none;
}



