.project_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 20px;
    margin: 20px;
    border: 5px solid gray;
}

.proj{
    height: 600px;
    width: 500px;
    /* background-color: gray; */
    border-radius: 20px;
   margin: 20px;
    border: 5px solid gray;
}